// Color
$frame-background-color: #000 !default;
$frame-border-color: transparent !default;
$container-background-color: #000 !default;
$mask-color: #000 !default;
$mask-opacity: 0.7 !default;
$pager-label-color: #aaa !default;
$title-color: #888 !default;

// Font
$font-family: sans-serif !default;
$font-size: 1.0em !default;
$pager-label-font-size: 90% !default;

// Geometry
$frame-border-width: 0 !default;
$frame-width: 6px !default;
$frame-corner-radius: 5px !default;
$title-height: 38px !default;
$close-button-spacing: 8px !default;
$pager-button-width: 44px !default;
$pager-label-height: 22px !default;
$pager-label-spacing: 8px !default;

$close-button-size: $title-height - $frame-width * 2 !default;

// Image
$close-button-image: url(img/close0.png) !default;
$close-button-highlighted-image: url(img/close1.png) !default;
$prev-button-image: url(img/prev0.png) !default;
$prev-button-highlighted-image: url(img/prev1.png) !default;
$next-button-image: url(img/next0.png) !default;
$next-button-highlighted-image: url(img/next1.png) !default;
$loading-image: url(img/loading.gif) !default;
$error-image: url(img/error.png) !default;


// Mask
.#{$prefix}mask {
	background-color: rgba($mask-color, $mask-opacity);
}


// Frame
.#{$prefix}frame {
	background-color: $frame-background-color;
	border: $frame-border-color solid $frame-border-width;
	border-radius: $frame-corner-radius;
	padding: $title-height $frame-width $frame-width;
}


// Button
.#{$prefix}button {
	position: absolute;
}
.#{$prefix}button.#{$prefix}disabled {
	display: none;
}
.#{$prefix}close {
	background: $close-button-image no-repeat center center;
	height: $close-button-size;
	right: $frame-width;
	top: $frame-width;
	width: $close-button-size;
}
.#{$prefix}close:hover {
	background-image: $close-button-highlighted-image;
}
.#{$prefix}prev,
.#{$prefix}next {
	$pager-button-offset: ($title-height - $frame-width) / 2;

	height: 100%;
	margin-top: $pager-button-offset;
	top: 0;
	width: $pager-button-width;
}
.#{$prefix}prev {
	background: $prev-button-image no-repeat center center;
	left: -$pager-button-width;
}
.#{$prefix}prev:active,
.#{$prefix}prev:hover {
	background-image: $prev-button-highlighted-image;
}
.#{$prefix}next {
	background: $next-button-image no-repeat center center;
	right: -$pager-button-width;
}
.#{$prefix}next:active,
.#{$prefix}next:hover {
	background-image: $next-button-highlighted-image;
}


// Label
.#{$prefix}label {
	font-family: $font-family;
	font-size: $font-size;
	position: absolute;
}
.#{$prefix}title {
	@include box-sizing(border-box);

	color: $title-color;
	height: $title-height;
	left: 0;
	line-height: $title-height;
	overflow: hidden;
	padding-left: $frame-width;
	text-align: left;
	text-overflow: ellipsis;
	top: 0;
	white-space: nowrap;
	width: 100%;

	.#{$prefix}close-button-enabled & {
		padding-right: $close-button-spacing
			+ $close-button-size
			+ $frame-width;
	}
}
.#{$prefix}pager {
	bottom: -($pager-label-spacing + $pager-label-height);
	color: $pager-label-color;
	font-size: $pager-label-font-size;
	height: $pager-label-height;
	left: 0;
	line-height: $pager-label-height;
	text-align: center;
	width: 100%;
}


// Container
.#{$prefix}container {
	background-color: $container-background-color;
	text-align: center;
}


// Content
.#{$prefix}loading {
	background: $loading-image no-repeat center center;
}
.#{$prefix}error {
	background: $error-image no-repeat center center;
}

