* {
  box-sizing: border-box;
}

html {
  background-color: #cccccc;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  border: silver solid 1px;
  color: #444444;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 1em;
  line-height: 150%;
  margin: 32px auto;
  padding: 32px;
  width: 800px;
}

h1, h2 {
  clear: both;
  color: #444444;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 150%;
  margin: 0;
}

h2 {
  border-bottom: gainsboro solid 1px;
  font-size: 120%;
  margin: 2em 0 0.75em;
  padding: 4px 0;
}

table {
  border-collapse: collapse;
  border: gainsboro solid 1px;
  width: 100%;
}

th, td {
  border: gainsboro solid 1px;
  padding: 8px 1em;
}

th {
  background-color: #eeeeee;
  font-weight: normal;
}

ul {
  margin: 0.75em 0;
  padding: 0 0 0 1.5em;
}

li + li {
  margin-top: 0.75em;
}

p {
  margin: 0.75em 0;
}

pre {
  background-color: #eeeeee;
  border: gainsboro solid 1px;
  font-family: "Source Code Pro", "Menlo", "Courier New", monospace;
  font-size: 80%;
  line-height: 150%;
  margin: 0.75em 0;
  overflow: scroll;
  padding: 8px;
}

code {
  background-color: #eeeeee;
  border: gainsboro solid 1px;
  border-radius: 3px;
  padding: 2px 4px;
}

strong {
  font-style: italic;
  font-weight: normal;
}

a {
  color: #4ab098;
}

a:hover {
  background-color: #d5e6e2;
  text-decoration: none;
}

#theme-form {
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 0;
  position: relative;
  text-align: right;
  top: -30px;
}

#theme-form label {
  font-size: 80%;
  vertical-align: middle;
}

#theme-form select {
  vertical-align: middle;
}

ul.nav {
  border: #888888 solid 1px;
  border-radius: 3px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 90%;
  height: 30px;
  margin: 2em 0;
  padding: 0;
  width: 100%;
}
ul.nav li {
  background-color: #888888;
  border-right: #888888 solid 1px;
  color: #f3f3f3;
  display: block;
  float: left;
  height: 28px;
  line-height: 28px;
  list-style-type: none;
  text-align: center;
  width: 20%;
}
ul.nav li > a {
  background-color: #f3f3f3;
  color: #888888;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
ul.nav li > a:active, ul.nav li > a:hover {
  background-color: #e6e6e6;
  color: #888888;
}
ul.nav li + li {
  margin-top: 0;
}

.link-list li + li {
  margin-top: 0;
}

.double-column {
  position: relative;
  width: 100%;
}

.column1, .column2 {
  float: left;
  margin-top: -0.75em;
}

.column1 {
  width: 40%;
}

.column2 {
  width: 60%;
}

.term {
  clear: both;
  height: 0;
  width: 0;
}

#config-form {
  margin: 0.75em 0;
}

.config-row-disabled {
  background-color: #eeeeee;
  color: #959595;
}

.config-enabled-cell {
  text-align: center;
}

.config-name-cell {
  font-family: "Source Code Pro", "Menlo", "Courier New", monospace;
  font-size: 80%;
}

.config-desc-cell {
  font-size: 90%;
}

.config-field-cell input, .config-field-cell select {
  width: 100%;
}

.button {
  background-color: #4ab098;
  color: #d7eee9;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 1em 0;
  padding: 4px 1em;
  text-align: center;
}
.button:hover {
  background-color: #48cbad;
  color: white;
}

.copyright {
  color: silver;
  font-size: 90%;
  margin-top: 2em;
  text-align: center;
}

#interactive-image-list,
#interactive-page-list {
  display: none;
}

.config-form-toolbar {
  text-align: center;
}
