// Color
$outer-background-color: #ccc;
$background-color: #f3f3f3;
$color: #444;
$key-color: hsl(166, 41%, 49%);
$a-color: $key-color;
$a-hover-background-color: adjust-color($a-color, $saturation: -15%, $lightness: +38%);
$heading-border-color: darken($background-color, 9%);
$pre-background-color: darken($background-color, 2%);
$pre-border-color: darken($background-color, 9%);
$table-border-color: darken($background-color, 9%);
$th-background-color: darken($background-color, 2%);

$button-background-color: $key-color;
$button-color: lighten($button-background-color, 40%);
$button-hover-background-color: adjust-color($button-background-color, $saturation: +15%, $lightness: +5%);
$button-hover-color: lighten($button-color, 30%);
$config-row-disabled-background-color: darken($background-color, 2%);
$config-row-disabled-color: darken($config-row-disabled-background-color, 35%);
$copyright-color: darken($background-color, 20%);

// Font
$font-family-sans-serif: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-monospace: 'Source Code Pro', 'Menlo', 'Courier New', monospace;
$font-size: 1.0em;
$font-size-monospace: 80%;
$h1-font-size: 150%;
$h2-font-size: 100%;

$config-desc-cell-font-size: 90%;
$copyright-font-size: 90%;
$theme-form-label-font-size: 80%;

// Geometry
$body-padding: 32px;
$body-width: 800px;
$h1-margin: 0;
$h1-padding: 0;
$h2-margin: 2.0em 0 0.5em;
$h2-padding: 2px 0;
$list-margin: 0.5em 0;
$list-item-spacing: 0.25em;
$p-margin: 0.5em 0;
$pre-margin: 0.5em 0;
$pre-padding: 8px;
$table-cell-padding: 8px 1.0em;

$button-margin: 1.0em 0;
$button-padding: 4px 8px;
$config-form-margin:1.0em 0 0.5em;
$copyright-spacing: 2.0em;
$double-column-column1-width: 40%;
$double-column-column2-width: 60%;
$theme-form-height: 30px;


* {
	box-sizing: border-box;
}
html {
	background-color: $outer-background-color;
	margin: 0;
	padding: 0;
}
body {
	background-color: $background-color;
	color: $color;
	font-family: $font-family-sans-serif;
	font-size: $font-size;
	margin: 0 auto;
	padding: $body-padding;
	width: $body-width;
}

h1 {
	font-size: $h1-font-size;
	margin: $h1-margin;
}
h2 {
	border-bottom: $heading-border-color solid 1px;
	font-size: $h2-font-size;
	margin: $h2-margin;
	padding: $h2-padding;
}

table {
	border-collapse: collapse;
	border: $table-border-color solid 1px;
	width: 100%;
}
th, td {
	border: $table-border-color solid 1px;
	padding: $table-cell-padding;
}
th {
	background-color: $th-background-color;
	font-weight: normal;
}

ul {
	list-style-type: none;
	margin: $list-margin;
	padding: 0;
}
li + li {
	margin-top: $list-item-spacing;
}

p {
	margin: $p-margin;
}

pre {
	background-color: $pre-background-color;
	border: $pre-border-color solid 1px;
	font-family: $font-family-monospace;
	font-size: $font-size-monospace;
	margin: $pre-margin;
	padding: $pre-padding;
}

a {
	color: $a-color;
}
a:hover {
	background-color: $a-hover-background-color;
	text-decoration: none;
}

#theme-form {
	float: right;
	height: $theme-form-height;
	line-height: $theme-form-height;
	margin: 0;
	position: relative;
	text-align: right;
	top: -$theme-form-height;
}
#theme-form label {
	font-size: $theme-form-label-font-size;
	vertical-align: middle;
}
#theme-form select {
	vertical-align: middle;
}

.double-column {
	position: relative;
	width: 100%;
}
.column1, .column2 {
	float: left;
}
.column1 {
	width: $double-column-column1-width;
}
.column2 {
	width: $double-column-column2-width;
}

.term {
	clear: both;
	height: 0;
	width: 0;
}

#config-form {
	margin: $config-form-margin;
}
.config-row-disabled {
	background-color: $config-row-disabled-background-color;
	color: $config-row-disabled-color;
}
.config-enabled-cell {
	text-align: center;
}
.config-name-cell {
	font-family: $font-family-monospace;
	font-size: $font-size-monospace;
}
.config-desc-cell {
	font-size: $config-desc-cell-font-size;
}
.config-field-cell {
	input, select {
		width: 100%;
	}
}

.button {
	background-color: $button-background-color;
	color: $button-color;
	cursor: pointer;
	display: inline-block;
	margin: $button-margin;
	padding: $button-padding;
	text-align: center;

	&:hover {
		background-color: $button-hover-background-color;
		color: $button-hover-color;
	}
}

.copyright {
	color: $copyright-color;
	font-size: $copyright-font-size;
	margin-top: $copyright-spacing;
	text-align: center;
}

#interactive-image-list,
#interactive-page-list {
	display: none;
}

.config-form-toolbar {
	text-align: center;
}
