@import '../base';


// Color
$frame-background-color: #111;
$container-background-color: #222;
$mask-color: #000;
$mask-opacity: 0.7;
$pager-label-color: #aaa;
$title-color: #888;


@import '../frame';
